node_modules
npm-debug.log
npm-debug.log*
yarn-error.log*
.DS_Store
.env
.env.*
!.env.example
.git
.gitignore
*.md
README.md
CHANGELOG.md
LICENSE
.vscode
.idea
coverage
.nyc_output
logs
*.log
*.tmp
.eslintcache
.turbo
dist
build
public/avatars/*
!public/avatars/.gitkeep
.docker
docker-compose.yml
docker-compose.override.yml
test/
__tests__/
.github
Dockerfile
.dockerignore
